/* GLOGAL */

body {
    margin: 0;
}

/* VIDEO */

#bg-video {
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}

h1 {
    margin-left: 2vw;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 2vw;
    text-align: left;
}
  